.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 130px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1ps solid #dddddd;
  border-radius: 3px;
}
.subtotal__gift {
  display: flex;
  align-items: center;
}
.subtotal__gift > input {
  margin-right: 5px;
}
.subtotal > button {
  background: #fbd84a;
  border: none;
  color: #111;
  bottom: 0px;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  transition: 0.3s;
}
