.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    width: 100%;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    height: auto;

}
.product >img{
    max-width: 200px;
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}
.product>button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 5px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 5px;
    border-radius: 5px;
}
.product__info{
    text-align: left;
    margin-top: -16px;
}
.product__price{
    margin-top: -10px;
}
.product__rating{
    margin-top: -26px;
    display: flex;
}